<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/weather.png">
    <title>404</title>
</head>

<body>
    {{>header}}
    <p>{{errorMessage}}</p>
</body>

</html>

