<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/weather.png">
    
    <title>Weather</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather</p>
        <form action="" method="get">
            <input type="text" placeholder="Location" value="{{address}}">
            <button>Search</button>
        </form>
        <p id="fetch-success"></p>
        <p id="fetch-error"></p>
        <p id="fetch-alerts"></p>
    </div>
    {{>footer}}
    <script src="/scripts/app.js"></script>
</body>

</html>